<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Tests">
    <listeners>
        <listener class-name="ru.work.listeners.CustomListener"/>
    </listeners>
    <test verbose="2" name="Login">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
    <test verbose="2" name="Add item">
        <classes>
            <class name="AddItemToCartTest"/>
        </classes>
    </test>
    <test verbose="2" name="Checkout info">
        <classes>
            <class name="CheckOutInfoTest"/>
        </classes>
    </test>
    <test verbose="2" name="Order item">
        <classes>
            <class name="OrderItemTest"/>
        </classes>
    </test>
</suite>